.recommendations {
    padding: 20px; /* Add padding around the recommendations section */
}

.recommendations h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.recommendations table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden;
}

.recommendations th, .recommendations td {
    border: 1px solid #ddd;
    padding: 12px;
}

.recommendations th {
    background-color: red;
    color: white;
    position: relative;
}

.recommendations td {
    background-color: black;
    color: white;
}

.recommendations img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

th.sortable {
    cursor: pointer;
    padding: 10px;
    position: relative;
    transition: background-color 0.3s ease;
}

th.sortable::after {
    content: '';
    font-size: 1.2em;
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

th.sortable.asc::after {
    content: '▲';
}

th.sortable.desc::after {
    content: '▼';
}

th.sortable:hover {
    background-color: #b30000;
    color: white;
}

tr:hover {
    background-color: #333;
    color: white;
}

.comment-section {
    margin-top: 10px;
}

.comment-section div {
    margin-bottom: 10px;
}

.comment-section input {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #444;
    color: white;
}

.comment-section input::placeholder {
    color: #ccc;
}

.recommendations td button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.recommendations td button:hover {
    background-color: #777;
}
